/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
form, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*overflow-x: hidden;*/
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*************************/

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}

.header-admin-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    height: 36px;
    line-height: 36px;
    background-color: #272727;
    color: #ccc;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    z-index: 99999;
}

.header-admin-bar ul {
    background-color: #272727;
    color: #ccc;
}
.header-admin-bar a {
    display: block;
    padding: 0 5px;
}
.header-admin-bar a:hover {
    background-color: #343434;
    color: #eee;
}
.header-admin-bar a {
    text-decoration: none;
    color: #ccc;
}

.header-admin-bar>ul>li {
    display: inline-block;
    float: left;
}

.header-admin-bar>ul>li ul>li {
    display: none;
}

.header-admin-bar li:hover>ul>li {
    padding-left: 5px;
}

.header-admin-bar li:hover>ul>li,
.header-admin-bar li>ul:hover>li
{
    display: block;
}

.header-admin-menu>li {
    display: block;
}

.admin-site-logo {
    display: block;
    width: 36px;
    height: inherit;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    color: #ccc;
}